body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

canvas {
    border: 2px solid #38bdf8;
    background: #111827;
    display: block;
    margin: 20px auto;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 8px;
}

#svgContainer svg {
    margin: 10px;
    background: #1f2937;
    border-radius: 10px;
}