* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    color: black;
    font-family: "Poppins", sans-serif;
}

.container {
    margin-left: 24px;
    margin-right: 24px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 27px;
}

.navigation {
    display: none;
}

.btn-shoppy {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 163px;
    height: 42px;
    background-color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 375%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #fff;
}

header .burger {
    background: none;
    border: none;
}

.header-buttons {
    display: flex;
    justify-self: end;
    gap: 24px;
}

.header-buttons button {
    background: none;
    border: none;
}

.search-block input {
    width: 0;
    opacity: 0;
    border: none;
    outline: none;
    transition: 0.8s ease;
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
    color: #000;
}

.search-block {
    display: flex;
    align-items: center;
}

.search-block:focus-within input {
    width: 200px;
    opacity: 1;
}

.search-block button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.desctop-svg {
    display: none;
}

.hero .container {
    margin-left: 0;
    margin-right: 0;
}

.mobile-svg {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.mobile-svg svg {
    position: absolute;
}

.shoe1 {
    left: 0;
    top: 0;
}

.shoe2 {
    right: 0;
    top: 66px;
}

.title-shop,
.drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.title-shop h1,
.drop h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #000;
    max-height: 301px;
    margin-bottom: 16px;
    width: 301px;
}

.drop h1 {
    font-size: 40px;
    width: 235px;
}

.title-shop .text,
.drop p {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #000;
    margin-bottom: 34px;
    width: 342px;
}

.title-shop button {
    border-radius: 15px;
    width: 195px;
    height: 50px;
    background-color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #fff;
}

.drop button {
    border: 2px solid #000;
    width: 235px;
    height: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    color: #000;
    background: none;
    margin-bottom: 80px;
}

.category-shoes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.female,
.male {
    position: relative;
    width: 48%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.female {
    background-image: url(../img/women.png);
}

.male {
    background-image: url(../img/men.png);
}

.female h2,
.male h2 {
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
}

.female a,
.male a {
    position: absolute;
    bottom: 15px;
    font-weight: 500;
    font-size: 16px;
}

.female a {
    right: 15px;
    color: #000;
}

.male a {
    left: 15px;
    color: #fff;
}

.release-title,
.title-kicks {
    font-weight: 800;
    font-size: 30px;
    line-height: 133%;
    color: #000;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.releases,
.kicks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 30px;
}

.releases div img,
.kicks div img {
    height: 252px;
    object-fit: cover;
    object-position: center;
}

.releases div h4,
.releases div p,
.kicks div h4,
.kicks div p {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #000;
}

.releases div p,
.kicks div p {
    font-weight: 400;
}

.drop {
    padding-top: 65px;
    padding-bottom: 85px;
}

footer {
    background: black;
    padding: 47px 24px 12px 24px;
    color: white;
}

.bloks-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
    margin-bottom: 43px;
}

.block,
.follow {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2 {
    font-weight: 500;
    font-size: 14px;
    color: #c4c4c4;
    opacity: 0.6;
    margin-bottom: 10px;
}

.f-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.f-links a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.f-icons-social-media a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-icons-social-media {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.footer-bottom {
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 208%;
    color: #fff;
    opacity: 0.4;
}

@media (min-width:1080px) {
    header .burger {
        display: none;
    }

    .navigation a {
        font-weight: 500;
        font-size: 24px;
        line-height: 117%;
        text-align: center;
        color: #000;
    }

    .navigation {
        display: flex;
        gap: 46px;
        margin-right: 50px;
    }

    .mobile-svg {
        display: none;
    }

    .hero .container {
        margin-left: 24px;
        margin-right: 24px;
    }

    .hero {
        position: relative;
        min-height: 650px;
        overflow: hidden;
        margin-bottom: 50px;
    }

    .title-shop {
        display: block;
        position: relative;
        z-index: 2;
        width: 301px;
        top: 250px;
    }

    .title-shop h1,
    .title-shop p,
    .title-shop button {
        text-align: left;
    }

    .title-shop button {
        padding-left: 31px;
    }

    .desctop-svg {
        display: block;
        position: absolute;
        z-index: 1;
    }

    .desctop-svg svg {
        position: absolute;
    }

    .big-shose1 {
        left: 374px;
        top: 109px;
    }

    .big-shoe2 {
        left: 960px;
        top: 30px;
    }

    .female,
    .male {
        min-width: 724px;
        min-height: 454px;
    }

    .drop {
        padding-top: 101px;
        padding-bottom: 101px;
    }

    .bloks-footer {
        display: grid;
        grid-template-columns: repeat(4, auto) 1fr;
        align-items: start;
        gap: 85px;
        padding: 50px 24px;
    }

    .follow {
        justify-self: flex-end;
    }
}

@media (max-width:1080px) {
    .category-shoes {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .female,
    .male {
        width: 99%;
        height: auto;
        min-height: 300px;
    }

    .female h2,
    .male h2 {
        font-size: 38px;
        top: -25px;
        left: 10px;
    }

    .female a,
    .male a {
        bottom: 10px;
        left: 10px;
        right: 10px;
    }
}