* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.card {
    position: absolute;
}

.dia {
    top: 60px;
    left: 40px;
    width: 500px;
    height: 450px;
    background: #000;
    position: absolute;
}

.dia-logo {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 220px;
}

.dia-flag {
    position: absolute;
    top: 280px;
    left: 185px;
    width: 150px;
    border-radius: 16px;
}

.square {
    position: absolute;
    top: 450px;
    left: 470px;
    width: 420px;
    height: 420px;
    background: linear-gradient(to bottom, #ffd400 50% 100%);
    z-index: 2;
}

.square-bg {
    width: 100%;
    height: 50%;
}

.square .mark {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -51%);
    width: 320px;
}

.circle-card {
  position: absolute;
  top: 800px;
  left: 800px;
  width: 420px;
  height: 420px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0,0,0,0.18);
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-shape {
    width: 340px;
    height: 340px; 
    border-radius: 50%;
    background: linear-gradient(to bottom, #1f3cff 0 50%,
    #ffd400 50% 100%);
    position: relative;
}

.circle-glyph{
  position: absolute;
  width: 240px;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}