@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #fff;
    position: relative;
    padding-bottom: 45px;
    font-family: 'Nunito Sans', sans-serif;
}

body::after {
    content: "";
    position: absolute;
    width: 118px;
    top: 0;
    bottom: 0;
    left: 15%;
    /*background-color: #F9F9F9;*/
    z-index: -1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*HEADER*/
header {
    padding: 55px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: block;
}

.logo:hover {
    opacity: 0.8;
}

nav a {
    position: relative;
    margin-right: 35px;
    font-size: 19px;
    color: #000;
    text-decoration: none;
}

nav a:last-child {
    margin-right: 0;
}

nav a::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background: #F2994A;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
    display: none;
}

nav a:hover::after,
nav a.active::after {
    display: block;
}

.search-block {
    display: flex;
    align-items: center;
}

.search-block input {
    border: none;
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;  
    letter-spacing: 1px;
    padding: 0 16px;
    color: #000; 
}

.search-block input:focus-visible {
    outline: none;
}

.search-block button {
    border: none;
    background: transparent;
    cursor: pointer;
}

/*CONTENT*/

.content {
    padding: 110px 0 50px;
}

.content .container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.image-block {
    max-width: 411px;
    height: 533px;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.text-block {
    border-right: 1px solid #333;
    padding-right: 40px;
}

.text-block h2 {
    color: #F2994A;
    font-size: 24px;
}

.text-block h1 {
    font-size: 65px;
    font-weight: 800;
    margin: 20px 0 70px;
}

.text-block p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-top: 24px;
    color: #4f4f4f;
}

.text-block p::before {
    content: "";
    position: absolute;
    top: 0;
    width: 188px;
    height: 6px;
    background: #F2994A;
}

/*SOCIAL*/

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.video {
    display: flex;
    align-items: center;
}

.video button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #3F9AB7;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video button:hover {
    background: #F2994A;
}

.social-link a {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    transition: background-color 0.3s;
}

.social-link-img-hover {
    display: none;
}

.social-link a:hover {
    background: #F2994A;
}

.social-link a:hover .social-link-img {
    display: none;
}

.social-link a:hover .social-link-img-hover {
    display: block;
}

/*client section*/

.client {
    background: #3F9AB7;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-image {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
}

.client-image:nth-child(2) {
    margin-left: -10px;
}

.client-image:nth-child(3) {
    margin-left: -20px;
}

.client-info {
    color: #fff;
    margin-left: 16px;
}

.client-info strong {
    font-size: 24px;
}