* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    background-color: #F2F2F2;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
    /* width: 1243px; */
    width: 65%;
    margin: 0 auto;
    padding: 142px 0 128px;
}

h1>strong {
    color: #2D3640;
    font-weight: 600;
    letter-spacing: -0.5px;
}

h1 {
    color: #2D3640;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -0.5px;
}

.sub-title {
    max-width: 695px;
    color: #2B292D;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 50px;
}

.user-card {
    padding: 58px 0 122px;
    /* width: 295px;  */
    width: 23%;
    min-width: 200px;
    background-color: #fff;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.card-row .user-card:last-child {
    margin-right: 0;
}

.user-photo {
    max-width: 114px;
    max-height: 114px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 3px solid #EFF3F8;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.user-card h4 {
    color: #2D3640;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.625px;
    margin: 34px 0 4px;
}

.user-card p {
    color: #4B4F52;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 33px;
}

.skills {
    text-align: center;
    font-size: 0;
}

.skill-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


.skills .skill-item:last-child {
    margin-right: 0;
}

.skill-item>img {
    width: auto;
    height: auto;
    object-fit: cover;

}

.vue {
    padding: 15px;
    background-color: #41B883;
}

.angular {
    padding: 15px;
    background-color: #34474F;
}

.react {
    padding: 15px;
    background-color: #61DAFB;
}

.flutter {
    padding: 15px;
    background-color: #202124;
}

.java {
    padding: 15px;
    background-color: #D63033;
}

.html {
    padding: 15px;
    background-color: #E44E25;
}
.css{
    padding: 15px;
    background-color: #1073BB;
}