* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 400px;
    padding: 50px;
    background-color: rgb(238, 123, 199);
    text-align: center;
    margin: 100px auto;
    text-transform: uppercase;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid blue;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: rgb(238, 123, 199);
}

header {
    background-color: rgb(100, 149, 237);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    display: flex;
    position: sticky;
    top: 1;

}

header:hover {
    background-color: rgb(0, 106, 182);
    text-decoration: underline;
    transform: scale(1);
    
}

.position-fixed {
    border-radius: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 20px 0;
    background-color:  red;
    
}

.position-abs{
    padding: 50px;
    background-color: darkgreen;
    text-align: center;
    position: absolute;
    top: 75px;
    /* top: 0;
    bottom: 0; */
    left: 60px;
    z-index: 2;
}
.position-relative{
    width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    background-color: gray;
    /* bottom: 100px; */
}

.position-abs.second{
    z-index: 1;
    background-color: brown;
    top: 150px;
    left: 150px;
}
.position-abs.third{
    z-index: 3;
    background-color: skyblue;
    top: 240px;
    left: 270px;
}
