*{
    box-sizing: border-box;
}
.container-block{
    /* box-sizing: content-box; */
    background-color: yellow;
    width: 1200px;
    /* width= width + padding; */
    /* height: 100px; */
    /* padding: 100px 400px 100px 200px; */
    padding: 50px 100px;
    /* padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 400px; */
    margin: 200px auto;
    /* margin: 100px 400px; */
    /* margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px; */
    text-align: center;
    /* text-align: right; */

}
.container-block-content{
    font-size: 0;
    text-align: right;
}
.item{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 4px solid black;
}